{
    "extends": "airbnb",
    "rules": {
      "arrow-parens": "off",
      "import/no-extraneous-dependencies": "off",
      "react/jsx-filename-extension": "off",
      "jsx-a11y/anchor-is-valid": "off"
    },
    "env": {
      "browser": true
    }
  }
