#watch-container {
  display: inline-block;
  width: 100%;
}

#watch-message {
  display: inline-block;
  width: 50%;
}

#game-container {
  width: 100%;
  display: flex;
  margin: 0 auto;
}

#game-left {
  width: 25%;
}

#game-canvas {
  width: 45%;
  display: table;
  margin: 0 auto;
}

#game-canvas div {
  float: center;
}

#game-canvas .canvas-container {
  float: left;
  background-color: white;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
}

#game-help {
  background-color: white;
  width: 30%;
  height: 200px;
  margin: 0 auto;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
}

.game-help-item {
  margin-left: 10px;
  text-align: left;
}
